html {
    background-color: rgb(189, 189, 247);
}

body{
    background-color: rgb(189, 189, 247);
}

.text1{
    background-color: rgb(189, 189, 247);
    text-align: center;
}

h3{
    text-align: center;
    font-style: oblique;
    text-shadow: 1px 1px 0px black;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}


