html{
    background-color: rgb(3, 3, 82);
    
}




h1{
    background-color: rgb(3, 3, 82);
}


.header1{
    background-color: rgb(3, 3, 82);
    text-align: center;
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 2px black;
    
}

.container-fluid{
    background-color: rgb(2, 2, 34);
}

.navbar navbar-expand-sm bg-dark navbar-dark{
    background-color: rgb(3, 3, 82);
}

.d-block{
    background-size: cover;
}
    
